*{
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 0px 100px;

}

.info-section {
    padding: 0px 150px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 0px 150px;
}

.last-section {
    padding: 0px 100px;
}

.button, .call-to-action {
    background-color: #3882F6;
    color: #E5E7EB;
}

