*{
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 0px 210px;
}

.info-section {
    justify-content: center;
    text-align: center;
    padding: 0px 280px 130px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 130px 320px;
    display: block;
}

.last-section {
    padding: 100px 210px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px 0px;
}

.nav-bar .right {
    display: flex;
    gap: 24px;
}

.content {
    display: flex;
    padding: 130px 0px;
    gap: 50px;

}

.content .left, .content .right {
    flex: 1;
}

.content .right {
    background-color: gray;
}

.header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px;
}

.info-items {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.item {
    justify-items: center;
}

.item img {
    border: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 16px;
    min-width: 160px;
    min-height: 160px;

}

.item .text{
    max-width: 160px;
    text-align: center;
    padding-top: 4px;
    color: #1F2937;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

.call-to-action .logo {
    padding-bottom: 4px;
}

button, .call-to-action {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
}

button {
    width: 125px;
    height: 35px;
    font-size: 18px;
    border: none;
    margin: 15px 0px;
}

.call-to-action button {
    border: solid;
    border-color: white;
    border-width: 2px;
}

.footer {
    text-align: center;
    font-size: 18px;
    padding: 40px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
}

.hero-sec, .text {
    font-size: 18px;
    color: #E5E7EB;
}

.cite {
    font-size: 24px;
    color: #1F2937;
    text-align: right;
}